body {
    margin: 0;
    padding: 0;
    background-color: orange;
    border: solid red 2px;
}

.container {
    border: solid green 20px;
    
}

.cell {
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
}