* {
    /*height: 100%;*/
}

body {
    margin: 0;
    padding: 0;
    background-color: orange;
    border: solid red 2px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.container {
    display: flex;
    border: solid green 2px;
    flex-wrap: wrap;
}

.squares {
    height: 50px;
    width: 50px;
    border: solid black 0.1px;
}